
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: hsl(214, 17%, 92%);
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    padding: 20px;
}

.grid-container{
    display: grid;
}

.grid-container--fill{
    grid-auto-rows: repeat(auto-fit, minmax(12rem, 1fr));
}

.grid-item-1{
    background-color: hsl(263, 55%, 52%);
    color: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    
}

.grid-item-2{
    background-color: hsl(219, 29%, 14%);
    color: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}   
.grid-item-3{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
.grid-item-4{
    background-color: hsl(0, 0%, 7%);
    color: hsl(214, 17%, 92%);
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
.grid-item-5{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid hsl(263, 55%, 52%);
    margin: 15px;
    margin-bottom: 0.5rem;
}

.profile {
  display: flex;
  align-items: center; /* centra verticalmente */
  gap: 10px; /* espacio entre imagen y texto */
}

.profile img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.profile-text {
  display: flex;
  flex-direction: column; /* apila h4 arriba y h5 abajo */
}


.profile-text h4 {
  margin: 0;
  font-weight: 600;
}

.profile-text h5 {
  margin: 0;
  font-weight: 400;
}

